.bonus {
	align-items: center;
	background: rgb(50, 50, 50);
	display: flex;
	min-height: 2rem;
	margin: 0.5rem;
	padding: 1rem 1rem 1rem 0.5rem;
	position: relative;
	text-align: left;
}

.description {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	word-wrap: break-word;
}

.delete-btn {
	cursor: pointer;
	font-size: 18px;
	font-weight: 100;
	margin: 0;
	padding: 2px;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.5s ease-out;
}

.delete-btn:hover {
	background: white;
	color: rgb(50, 50, 50);
	transition: all 0.5s ease-out;
}
