.Bonus {
  background: rgb(50, 50, 50);
  margin: 10px;
  padding: 5px;
  position: relative;
  text-align: left;
}

.bonus-delete-btn {
  border: 1px solid white;
  cursor: pointer;
  font-size: 16px;
  padding: 2px;
  position: absolute;
  right: 2px;
  top: -24px;
  transition: all 0.5s ease-out;
}

.bonus-delete-btn:hover {
  background: white;
  color: rgb(50, 50, 50);
  transition: all 0.5s ease-out;
}
