.error {
	background: rgba(255, 0, 0, 0.434);
	border-radius: 5%;
	border: 4px solid white;
    color: white;
	margin: 5rem auto;
	opacity: 0.95;
	padding: 5%;
	text-align: center;
	width: 50%;
}

@media screen and (max-width: 760px) {
    .error {
        width: 70%
    }
}
