.App {
  background: url("../../images/court.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-rows: 100px 1fr;
  min-height: 100vh;
}

@media screen and (max-width: 760px) {
  .App {
    grid-template-rows: 100px 1fr;
  }
}
