.team {
	cursor: pointer;
	transition: all 0.5s ease-out;
}

.team-controls {
	align-items: center;
	background: silver;
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	width: 70vw;
}

.team:hover {
	background: rgb(242, 242, 242);
	color: black;
	opacity: 0.7;
	transition: all 0.3s ease-out;
}

.toggle-btn {
	background: rgb(84, 84, 84);
	border: 2px solid silver;
	color: white;
	cursor: pointer;
	padding: 10px 30px;
	transition: all 0.5s ease-out;
}

.toggle-btn:hover {
	background: rgb(242, 242, 242);
	color: rgb(84, 84, 84);
	transition: all 0.5s ease-out;
}

.search {
	height: 3rem;
}

.toggle-btn,
.search {
	font-size: 32px;
	margin: 1rem;
	width: 33%;
}

@media screen and (max-width: 1100px) {
	.team-controls {
		width: 90vw;
	}
}

@media screen and (max-width: 620px) {
	.team-controls {
		flex-direction: column;
	}

	.toggle-btn,
	.search {
		width: 80%;
	}
}
