.MainPage {
  background: silver;
  margin: 40px auto;
  opacity: 0.9;
  text-align: center;
  width: 70vw;
}

.players-wrapper,
.teams-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.player,
.team {
  background: rgb(101, 101, 101);
  color: white;
  margin: 10px;
  width: 400px;
}

.red {
  background: rgb(108, 0, 0);
}

.green {
  background: rgb(0, 87, 0);
}