.MainPage {
  text-align: center;
  opacity: 0.9;
}

.team-form,
.players-wrapper,
.teams-wrapper {
  background: silver;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px auto;
  width: 70vw;
}

.players-wrapper,
.teams-wrapper { 
  max-height: 55vh;
  overflow: auto;
}

.player,
.team {
  background: rgb(101, 101, 101);
  color: white;
  margin: 10px auto;
  width: 240px;
}

.red {
  background: rgb(108, 0, 0);
}

.green {
  background: rgb(0, 87, 0);
}